<article class="container">
<div class="row">

	<div class="categoria col s3">
		<div class="opaco">
			<i class="material-icons">
				phonelink_setup
			</i>
			<p>Tecnologia</p>
		</div>
	</div>

	<div class="categoria col s3">
		<div class="opaco">
			<i class="material-icons">
				add_alert
			</i>
			<p>Salud</p>
		</div>
	</div>

	<div class="categoria col s3">
		<div class="opaco">
			<i class="material-icons">
				library_books
			</i>
			<p>Educación</p>
		</div>
	</div>

	<div class="categoria col s3">
		<div class="opaco">
			<i class="material-icons">
				invert_colors
			</i>
			<p>Medio Ambiente</p>
		</div>
	</div>

	<div class="categoria col s3">
		<div class="opaco">
			<i class="material-icons">
				supervisor_account
			</i>
			<p>Comunidad</p>
		</div>
	</div>

	<div class="categoria col s3">
		<div class="opaco">
			<i class="material-icons">
				library_music
			</i>
			<p>Cultura</p>
		</div>
	</div>



</div>
</article>