<article class="container mosaico">
<div class="row">

	<div class="categoria col m3">
		<div class="opaco">
			<i class="material-icons">
				phonelink_setup
			</i>
			<p>Tecnologia</p>
		</div>
	</div>

	<div class="categoria col m3" style="background-image: url('https://enfoquecaribe.com/wp-content/uploads/2016/04/FOTO-1-1.jpg');" >
		<div class="opaco">
			<i class="material-icons">
				add_alert
			</i>
			<p>Salud</p>
		</div>
	</div>

	<div class="categoria col m3" style="background-image: url('http://www.definicionabc.com/wp-content/uploads/2015/01/Educacion-Formal.jpg');">
		<div class="opaco">
			<i class="material-icons">
				library_books
			</i>
			<p>Educación</p>
		</div>
	</div>

	<div class="categoria col m3" style="background-image: url('http://www.adarvemedioambiente.com/wp-content/uploads/2015/07/Adarve-Medio-Ambiente-04.jpg');">
		<div class="opaco">
			<i class="material-icons">
				invert_colors
			</i>
			<p>Medio Ambiente</p>
		</div>
	</div>

	<div class="categoria col m3" style="background-image: url('http://www.milenio.com/cultura/concursos-festivales-indigenas-intervencion-espacios_MILIMA20130811_0414_8.jpg');">
		<div class="opaco">
			<i class="material-icons">
				supervisor_account
			</i>
			<p>Comunidad</p>
		</div>
	</div>

	<div class="categoria col m3" style="background-image: url('http://www.milenio.com/cultura/Hidalgo-El_Vaticano-documental-artesanias-cultura-Pueblo_Magico_MILIMA20140527_0061_11.jpg');">
		<div class="opaco">
			<i class="material-icons">
				library_music
			</i>
			<p>Cultura</p>
		</div>
	</div>



</div>
</article>