<div class="col s12 m4">
    <div class="card">
        <div class="card-image">
            <img src="{{model.img}}">
            <span class="card-title">{{model.titulo}}</span>
        </div>
        <div class="card-content">
            <p>{{model.desc}}</p>
        </div>
        <div class="card-action">
            {{link-to 'Detalle' 'projects.details'}}
        </div>
    </div>
</div>