<article class="container">
<h3>Proyectos Destacados</h3>
<div id="owl-demo">
          
  


    {{#each model as |p|}}
    <div class="item">
    {{card-proyecto model=p}}
      </div>
    {{/each}}



</div>

</article>