<div>
  <a style='background:#8bc34a'class=" botoncito waves-effect waves-light btn modal-trigger" href="#modal1">Subir proyecto</a>
  <div id="modal1" class=" modal">
    <div class="modal-content">
      <h4 class='tittle'>Iniciar Sesion</h4>
     <div class='botones'>
     	<img class='redes'src="http://fbsticker.com/images/loginwithfb-or.png" {{action 'login' "facebook"}}>
     </div>
     <div class='botones'>
     <img style='height:55px'class='redes' src="https://www.codenameone.com/img/blog/google-sign-in.png" {{action 'login' 'google'}}>
     </div>
     <p id='terminos'>Al iniciar sesión aceptas nuestros Términos de uso y Política de privacidad.</p>
    
    </div>
    <div class="modal-footer">
      <a href="#!" class=" cancelar modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>
 
  </div>


