<nav class="green">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">HidalGo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#!">Explorar</a></li>
        <li><a href="#!">Cómo funciona</a></li>
        <li><a class="waves-effect waves-light btn red">Publica un proyecto</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#!">Explorar</a></li>
        <li><a href="#!">Cómo funciona</a></li>
        <li><a class="waves-effect waves-light btn red">Publica un proyecto</a></li>
      </ul>
    </div>
  </nav>