<div class="slider">
  {{link-to 'Publica un Proyecto' 'login' class="btn btn-large green flotando center"}}
    <ul class="slides">

      <li>
        <img src="http://www.ywampachuca.org/images/germen-1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Explora proyectos creativos</h3>
          <h5 class="light grey-text text-lighten-3">Descubre cientos de proyectos geniales</h5>
        </div>
      </li>
      <li>
      	
        <img src="http://revoluciontrespuntocero.com/wp-content/uploads/2015/07/hidalgo.png"> <!-- random image -->

        <div class="caption left-align">
          <h3>Y tú, ¿qué propones?</h3>
          <h5 class="light grey-text text-lighten-3">Es tu oportunidad de ser propositivo</h5>
        </div>
  
      </li>
      <li>
        <img src="http://www.criteriohidalgo.com/images/galleries/galeria-casi-8-millones-visitaron-a-hidalgo-en-2015-turismo/turismo-hidalgo-18108865699d2430b47d.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Mejora tu comunidad con ideas</h3>
          <h5 class="light grey-text text-lighten-3">Piensa global actúa local</h5>
        </div>
      </li>
      <li>
        <img src="http://visitamexico10.galeon.com/hidl900.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>¿Que está pasando en Hidalgo?</h3>
          <h5 class="light grey-text text-lighten-3">Explora los proyectos para tu comunidad</h5>
        </div>
      </li>

      

    </ul>

  </div>