.nav{

}
.azul-gobierno{
	background-color: #002F52;
}
.categoria{
	background-image: url('/assets/images/go.jpg');
	background-size: cover;
	width: 220px;
	height: 220px;
	margin: 0 70px 70px 70px;
	position: relative;
}
.opaco{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5);
	position: absolute;
	left:0;
	transition:all 0.5s ease;
	text-align: center;
}
.opaco:hover{
	/*background-color: transparent;*/
	background:rgba(255,255,255,0.7);
}
.opaco i{
	margin-top: 80px;
	padding-bottom: 10px;
	border-bottom: 1px solid white;

}
.opaco p, i{
	color:white;
	transition:all 0.5s ease;
}
.opaco:hover > p{
	color:black;
}
.opaco:hover > i{
	color:black;
	border-bottom: 1px solid black;
}
.mosaico{
	margin-top: 100px;
}

/*Slider*/
.slides li img{
	/*filter:alpha(opacity=50);*/
	filter:blur(3px);
	-moz-opacity: 0.5;
	opacity: 0.5;
	position: relative;
}

.flotando{
	position: absolute;
	bottom: 20%;
	left:20%;
	z-index: 999;

}
@media (min-width: 600px){
	.flotando{
	left:40%;
	}
}

/*footer*/
#blue_footer {
    background: #002F52;
    background-image: url(http://www.hidalgo.gob.mx/images/trama_footer.png);
    background-repeat: no-repeat;
    background-position: right;
}

/*Owl carousel*/
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}


