{{outlet}}
<h1>detalle de producto</h1>
<section class="details_header row">
    <article class="col s12 m6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/q69IT4I7sGg" frameborder="0" allowfullscreen></iframe>
    </article>
    <article class="col s12 m6">
        <h5>{{model.titulo}}</h5>
        <p>
            Pequeña descripción
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Perspiciatis, laboriosam, delectus? Accusamus aut odio at 
            cum dolor itaque mollitia est incidunt ipsa fugiat, expedita 
            veritatis neque rerum officiis ad, quae.
        </p>
        <div class="chip">
            <img src="http://materializecss.com/images/yuna.jpg" alt="Contact Person">
            Jane Doe
        </div>
        <div class="chip">
            Cultura
        </div>
        <div class="votes_progress_container">
            <strong>Votos</strong>
            <div class="progress">
                <div class="determinate green" style="width: 70%"></div>
            </div>
        </div>
        <button {{action 'votar' model}} class="waves-effect waves-light btn col m4 green">Votar</button>

        {{#if session.isAuthenticated}}

        {{#link-to 'projects.edit' model}}
        <button class="waves-effect waves-light btn col m4 orange">Editar</button>
        {{/link-to}}



        {{/if}}
{{!-- Numero de votos --}}
        <i class="fa fa-heart-o icoon fa-2x" aria-hidden="true">
            <span>{{model.votos_number}}</span></i>
{{!-- Numero de votos --}}
    </article>
</section>
<section class="details_main row">
    <article class="col m8">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Totam nihil quibusdam quod, molestiae aspernatur, dolores sapiente 
            possimus vitae perspiciatis repellat voluptatem, aliquid non. Voluptas
             molestiae consectetur magni tenetur, pariatur necessitatibus!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Voluptates praesentium quia voluptatibus aut! Magnam quis
              dolorem explicabo ut et odit, soluta officia. Odio tempora
               ducimus commodi quo eum laudantium dolore.
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
               Beatae accusamus, earum mollitia possimus minima labore sit 
               impedit eos, aspernatur repudiandae adipisci animi. Dolores 
               earum aliquam, eligendi blanditiis? Enim, impedit nisi.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Facere tempore, dolor officiis reprehenderit porro vero 
             recusandae perspiciatis commodi vitae nostrum cum deserunt 
             non velit earum dolores reiciendis sit necessitatibus numquam.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Laborum quo deserunt corporis odit necessitatibus facere
              beatae fuga iste ea voluptates fugit sunt, repellat,
               cum numquam, eum? Deleniti odio quasi expedita.
        </p>
        <div>
            <figure>
                <img src="http://www.milenio.com/cultura/concursos-festivales-indigenas-intervencion-espacios_MILIMA20130811_0414_8.jpg" alt="">
            </figure>
            <figure>
                <img src="http://www.milenio.com/cultura/Hidalgo-El_Vaticano-documental-artesanias-cultura-Pueblo_Magico_MILIMA20140527_0061_11.jpg" alt="">
            </figure>
        </div>
    </article>
    <article class="col m4">
        <aside>
            <h3>Proyectos Destacados</h3>
             <div class="item">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

        </aside>
    </article>
</section>