<header class="projects_filter">
    <h4>Proyectos</h4>
    <div class="filters_container row">


        <div class="input-field col s12 m4">
            <select name="" id="">
                <option value="" disabled selected>Categorías</option>
                <option value="">Tecnología</option>
                <option value="">Educación</option>
                <option value="">Salud</option>
                <option value="">Medio Ambiente</option>
                <option value="">Comunidad</option>
                <option value="">Cultura</option>
            </select>
        </div>
        <div class="input-field col s12 m4">
            <select name="" id="">
                <option value="" disabled selected>Tendencias</option>
            </select>
        </div>
        <div class="input-field col s12 m4">
            <select name="" id="">
                <option value="" disabled selected>Finaliza Pronto</option>
            </select>
        </div>


    </div>
</header>

<article class="row">
    {{#each model as |p|}}
    {{card-proyecto model=p}}
    {{/each}}
</article>

<div class="row">
    <button class="waves-effect waves-light btn col m4 offset-m4 red">Cargar más</button>
</div>