<article class="container">
<h2>Comienza un gran proyecto</h2>
<h6>Recauda votos para un proyecto creativo, empresarial u otro proyecto inspirador
</h6>

{{edit-form
	model=model
	guardar=(action 'guardar')
	cate=(action 'setCategoria')
}}




</article>
