{{nav-bar}}
{{outlet}}
        <footer id="blue_footer" class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">
                	<img src="http://www.hidalgo.gob.mx/images/logo_21.png">
                </h5>
                <p class="grey-text text-lighten-4">Gobierno del estado de Hidalgo.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Gobierno del Estado</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Tramites</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Estado</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Turismo</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Temático</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright FixterGeek
            <a class="grey-text text-lighten-4 right" href="http://www.fixter.org">Fixter.org</a>
            </div>
          </div>
        </footer>