<div>

<h3 class='tittle'>Quieres proponer un proyecto?</h3>
<div class='inicio'>
	<div id='idea'>
	<img class='image' src="http://www.oronoticias.com.mx/Noticia/2/img/emprendedorespueblaapoyosnota-03112014-172932.jpg">
	</div>
	<div class='text'>
		<p>
		HidalGo es una plataforma de inclusion ciudadana en donde tu, como ciudadano, puedes subir propuestas de proyecto que contribuyan a mejorar la calidad de vida de los hidalguenses o resuelvan problematicas de forma tanto municipal, como estatal. 
		Las propuestas que generen mayor cantidad de votos seran evaluadas para identificar su viabilidad.
		</p>
		{{log-in login=(action 'login')}}

  </div>

</div>
</div>